@import "tailwindcss";

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@font-face { font-family: 'KimjungchulGothic';  src: url('/fonts/KimjungchulGothic-Light.otf') format('opentype'); }
@font-face { font-family: 'KimjungchulMyungjo'; src: url('/fonts/KimjungchulMyungjo-Light.otf') format('opentype'); }
@font-face { font-family: 'KimjungchulScript';  src: url('/fonts/KimjungchulScript-Regular.otf') format('opentype'); }
@font-face { font-family: 'PretendardLight';    src: url('/fonts/Pretendard-Light.otf') format('opentype'); }
@font-face { font-family: 'PretendardMedium';   src: url('/fonts/Pretendard-Medium.otf') format('opentype'); }
@font-face { font-family: 'YNANewsB'; src: url('/fonts/YNAMNEWS(B).ttf') format('truetype'); }
@font-face { font-family: 'YNANewsM'; src: url('/fonts/YNAMNEWS(M).ttf') format('truetype'); }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #111;
}
